/* 重置默认主题的样式 */
:root {
    /* body背景色 */
    --vp-c-bg: rgb(251, 249, 247);
    /* 侧边栏背景色 */
    --vp-sidebar-bg-color: rgb(247, 245, 243);
    /* code标签背景色，就是 `` 括起来的内容 */
    --vp-c-mute: #cccccc60;
}